body, h1, h2{
    color: #1b1e21;
}

body, p{
    color: #5a6268;
}

.navigation-link{
    color: #4e555b;
    font-size: large;
}
.navigation-link:hover{
    color: #6c757d;
    font-size: large;
}

.navigation-brand{
    color: #ffffff;
    font-size: 30px;
}

.navigation-brand:hover{
    color: #6c757d;
    font-size: 30px;
}

i, span {
    display: inline-block;
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.huge {
    font-size: 50px;
}
.card-green {
    border-color: #5cb85c;
}
.card-green > .card-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
}
.card-green > a {
    color: #5cb85c;
}
.card-green > a:hover {
    color: #3d8b3d;
}

.card-red {
    border-color: #cc4545;
}
.card-red > .card-heading {
    border-color: #cc4545;
    color: white;
    background-color: #cc4545;
}
.card-red > a {
    color: #cc4545;
}
.card-red > a:hover {
    color: #cc4545;
}

.card-grey {
    border-color: grey;
}
.card-grey > .card-heading {
    border-color: grey;
    color: white;
    background-color: grey;
}
.card-grey > a {
    color: darkgray;
}
.card-grey > a:hover {
    color: grey;
}

.redLetters{
    color: red;
}

.buttoncolorgray{
    background-color: #47556d;
    border-color: #47556d;
    color: #f7f9fc;
}

.greenLetters{
    color: limegreen;
}

